<!-- <div *ngIf="!userLoggedIn; else formInfo"> -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Order System<br />
            <h6 class="h4-heading"></h6>
        </a>
        <img  src="../../assets/images/home-icon.png" width="50" height="30" (click)="homeButtonClicked()">
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <form [formGroup]="placeOrderForm" (ngSubmit)="onSubmit()">
                    <div class="container-fluid">
                      <div class="row">
                        <h1>Create Order</h1>
                      </div>
                      <!-- ROW-1-->
                      
                      <div formArrayName="purchaseItem">
                        <h3>Aliases</h3> <button (click)="addItemLine()">Add Item</button>
                    
                        <div *ngFor="let address of purchaseItem.controls; let i=index">
                          <!-- The repeated alias template -->
                          <div class="row">
                              <div class="col-3">
                                <input type="text" [formControlName]="i">
                              </div>
                              <div class="col-3">
                                <input type="text" [formControlName]="i">
                              </div>
                          </div>
                        </div>
                      </div>                          
                    </div>
                </form>
              </div>
        </div>
        <div class="row pt-5">
            <div class="col-2">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="submit">
            </div>
        </div>
  </div>
